.descriptions-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: 'Didact Gothic', sans-serif;
  color: #aaa;
  padding: 10px 0 40px 0;
}

.ilm-container, .rh-container, .kojima-container, .nd-container, .blizzard-container {
  display: flex;
  text-align: justify;
  justify-content: center;
  margin: 40px;
}

 .ilm-img, .rh-img, .kojima-img, .nd-img, .blizzard-img {
   display: flex;
   width: 40%;
   height: 40%;
   margin: 10px 0;
   justify-content: center;
   align-items: center;
 }

 .ilm-paragraph, .rh-paragraph, .kojima-paragraph, .nd-paragraph, .blizzard-paragraph {
   display: flex;
   margin: 0 50px;
   justify-content: center;
   align-items: center;
 }

 .rh-container, .nd-container {
   flex-direction: row-reverse;
 }

 @media (max-width: 800px) {
    .ilm-container, .rh-container, .kojima-container, .nd-container, .blizzard-container {
      display: flex;
      flex-wrap: wrap;
   }
 }

 @media (max-width: 500px) {
   .descriptions-container {
     visibility: hidden;
     display: none;

   }
 }
