header {
  display: flex;
  width: 100%;
  font-family: 'Anton', sans-serif;
  position: fixed;
}

li {
  list-style: none;
}

nav {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  background-color: #9d2264;
  align-content: space-around;
}

.nav-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 0 35px;
}

.nav-link:hover {
  color: black;
}

@media (max-width: 869px) {
  .nav-link {
    display: none;
  }
}
